    /*
 * Globals
 */

    /* Links */
    a,
    a:focus,
    a:hover {
      color: fuchsia;
    }

    /* Custom default button */
    .btn-secondary,
    .btn-secondary:hover,
    .btn-secondary:focus {
      color: red;
      text-shadow: none;
      /* Prevent inheritance from `body` */
      background-color: black;
      border: .05rem solid black;
    }


    /*
 * Base structure
 */

    html,
    body {
      height: 100%;
      background-color: black;
    }

    body {
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      -ms-flex-pack: center;
      -webkit-box-pack: center;
      justify-content: center;
      color: silver;
      text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
      box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    }

    .cover-container {
      max-width: 42em;
    }


    /*
 * Header
 */
    .masthead {
      margin-bottom: 2rem;
    }

    .masthead-brand {
      margin-bottom: 0;
    }

    .nav-masthead .nav-link {
      padding: .25rem 0;
      font-weight: 700;
      color: rgba(255, 255, 255, .5);
      background-color: transparent;
      border-bottom: .25rem solid transparent;
    }

    .nav-masthead .nav-link:hover,
    .nav-masthead .nav-link:focus {
      border-bottom-color: rgba(255, 255, 255, .25);
    }

    .nav-masthead .nav-link+.nav-link {
      margin-left: 1rem;
    }

    .nav-masthead .active {
      color: silver;
      border-bottom-color: silver;
    }

    @media (min-width: 48em) {
      .masthead-brand {
        float: middle;
      }

      .nav-masthead {
        float: middle;
      }
    }


    /*
 * Cover
 */
    .cover {
      padding: 0 1.5rem;
    }

    .cover .btn-lg {
      padding: .75rem 1.25rem;
      font-weight: 700;
    }


    /*
 * Footer
 */

    .marquee {
      width: 50%;
      behavior: alternate;
    }

    .mastfoot:hover,
    .mastfoot:focus {
      color: rgba(255, 255, 255, .5);
    }

    .img {
      max-width: 330px;
    }

    @media (min-width: 48em) {
      .img-v {
        float: middle;
        max-width: 200em;
      }
    }
