body {

      background-color: white;

    }

    .kon {

      font-family: 'Lemonade';

      font-size: 55px;

      color: black;

    }

    .img {

      padding: 8px;

      margin: 8px;

      max-width: 90%;

      width: auto;

      height: auto;

    }

    .kon1 {

      font-family: 'Lemonade';

      font-size: 45px;

      color: #2f3640;

    }

